<div class="card p-3 position-relative">
  <div class="row">
    <div class="col-md-4">
      <div
        class="d-flex flex-column justify-content-between font-18 font-weight-500 text-sm-center my-2"
      >
        {{ "GLOBAL.TOTAL" | translate }}
        <span class="font-25 text-black">{{
          (logSecuritySummary$ | async)?.logsOverview | number
        }}</span>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="d-flex flex-column justify-content-between font-18 font-weight-500 text-sm-center my-2"
      >
        {{ "LOGS.ABOVE_LEVEL_9" | translate }}
        <br />
        <span class="font-25 text-success">{{
          (logSecuritySummary$ | async)?.logsAboveLevel9 | number
        }}</span>
      </div>
    </div>
    <div class="col-md-4">
      <div
        class="d-flex flex-column justify-content-between font-18 font-weight-500 text-sm-center my-2"
      >
        {{ "LOGS.EVENTS_TODAY" | translate }}
        <br />
        <span class="font-25 text-danger">{{
          (logSecuritySummary$ | async)?.logsToday | number
        }}</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 pb-1">
    <div class="card mt-4">
      <div class="mx-3 mt-3 d-flex justify-content-between">
        <p
          class="font-18 font-weight-500 mb-2 line-clamp"
          nzTooltipTitle="{{ 'SECURITY.ALERT_LEVEL_EVOLUTION' | translate }}"
          nzTooltipPlacement="topLeft"
          nz-tooltip
        >
          {{ "SECURITY.ALERT_LEVEL_EVOLUTION" | translate }}
        </p>
      </div>
      <div class="border-bottom"></div>
      <saf-line-chart
        [type]="'chartdivAlertLevel'"
        [data]="securityAlertLevelEvolution$ | async"
        [className]="'custom'"
        [dateFormat]="_commonService.isDayDateFormat(time)"
      >
      </saf-line-chart>
    </div>
  </div>
  <div class="col-md-6 pb-1">
    <div class="card mt-4">
      <div class="mx-3 mt-3 d-flex justify-content-between">
        <p
          class="font-18 font-weight-500 mb-2 line-clamp"
          nzTooltipTitle="{{ 'SECURITY.ALERT' | translate }}"
          nzTooltipPlacement="topLeft"
          nz-tooltip
        >
          {{ "SECURITY.ALERT" | translate }}
        </p>
      </div>
      <div class="border-bottom"></div>
      <saf-line-chart
        [type]="'chartdivAlerts'"
        [data]="securityAlerts$ | async"
        [className]="'custom'"
        [dateFormat]="_commonService.isDayDateFormat(time)"
        [translate]="true"
      >
      </saf-line-chart>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 pb-1">
    <div class="card mt-4">
      <div class="mx-3 mt-3 d-flex justify-content-between">
        <p
          class="font-18 font-weight-500 mb-2 line-clamp"
          nzTooltipTitle="{{ 'DASHBOARD.TOP_5_AGENTS_EVENTS' | translate }}"
          nzTooltipPlacement="topLeft"
          nz-tooltip
        >
          {{ "DASHBOARD.TOP_5_AGENTS_EVENTS" | translate }}
        </p>
      </div>
      <div class="border-bottom"></div>
      <vadar-donut-chart
        [type]="'chartdonutTop5Agents'"
        [data]="topEventsByAgent$ | async"
        [className]="'custom'"
      ></vadar-donut-chart>
    </div>
  </div>
  <div class="col-md-6 pb-1">
    <div class="card mt-4">
      <div class="mx-3 mt-3 d-flex justify-content-between">
        <p
          class="font-18 font-weight-500 mb-2 line-clamp"
          nzTooltipTitle="{{ 'DASHBOARD.AGENTS_STATUS' | translate }}"
          nzTooltipPlacement="topLeft"
          nz-tooltip
        >
          {{ "DASHBOARD.AGENTS_STATUS" | translate }}
        </p>
      </div>
      <div class="border-bottom"></div>
      <vadar-line-chart-without-fill
        [type]="'chartdivAgentsStatus'"
        [data]="agentStatusStatistical$ | async"
        [className]="'custom'"
        [label]="'levelName'"
        [dateFormat]="_commonService.isDayDateFormat(time)"
        [translate]="true"
      >
      </vadar-line-chart-without-fill>
    </div>
  </div>
</div>

<vadar-top-events-by-level
  [time]="time"
  [type]="'se'"
></vadar-top-events-by-level>
