<div class="table-scaned mb-5">
  <div class="card p-4 position-relative">
    <div class="mdc-content position-relative ">
      <div class="title font-18 font-weight-500 mb-3">
        {{ "LOGS.ADVANCE_SEARCH" | translate }}
      </div>
      <!-- title -->

      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4 mb-3 px-2">
                <nz-form-control>
                  <input
                    formControlName="hostName"
                    nzSize="large"
                    nz-input
                    placeholder="{{ 'LOGS.HOSTS' | translate }}"
                  />
                </nz-form-control>
              </div>
              <!-- agent -->

              <div class="col-md-4 mb-3 px-2">
                <nz-form-control>
                  <input
                    formControlName="eventName"
                    nzSize="large"
                    nz-input
                    placeholder="{{ 'LOGS.EVENT_NAME' | translate }}"
                  />
                </nz-form-control>
              </div>
              <!-- name -->

              <div class="col-md-4 mb-3 px-2">
                <nz-form-control>
                  <input
                    formControlName="level"
                    nzSize="large"
                    nz-input
                    placeholder="{{ 'DASHBOARD.LEVEL' | translate }}"
                  />
                </nz-form-control>
              </div>
              <!-- level -->

              <div class="col-md-4 mb-3 px-2" *ngIf="tabIndex === 1">
                <nz-form-control>
                  <nz-select
                    nzPlaceHolder="{{ 'DASHBOARD.DEVICES' | translate }}"
                    formControlName="devices"
                    nzSize="large"
                  >
                    <nz-option
                      [nzValue]="''"
                      nzLabel="{{ 'GLOBAL.ALL' | translate }}"
                    ></nz-option>
                    <nz-option
                      [nzValue]="SecurityLogDevices.workstations"
                      nzLabel="{{ 'DASHBOARD.WORKSTATION' | translate }}"
                    ></nz-option>
                    <nz-option
                      [nzValue]="SecurityLogDevices.server"
                      nzLabel="{{ 'DASHBOARD.SERVER' | translate }}"
                    >
                    </nz-option>
                    <nz-option
                      [nzValue]="SecurityLogDevices.network"
                      nzLabel="{{ 'DASHBOARD.PC' | translate }}"
                    >
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
              <!-- devices -->
            </div>
          </div>
          <div class="col-md-2 px-2">
            <button
              type="submit"
              class="w-100 mdc-button mdc-btn-lg mdc-button--unelevated"
            >
              {{ "GLOBAL.SEARCH" | translate }}
            </button>
          </div>
        </div>
      </form>
      <!-- form -->
    </div>
  </div>
</div>
