<section class="page-host page-padding pl-3">
  <div class="container-fluid">
    <vadar-top-grf-security [(filter)]="filter"></vadar-top-grf-security>
    <div class="mx-n3 pt-4">
      <div class="row">
        <div class="col-md-2 pr-md-2">
          <vadar-grf-security-graph1
            [(filter)]="filter"
          ></vadar-grf-security-graph1>
        </div>
        <div class="col-md-10 pl-md-2">
          <vadar-grf-security-graph2
            [(filter)]="filter"
          ></vadar-grf-security-graph2>
        </div>
        <div class="col-md-9 pr-md-2">
          <vadar-grf-security-table3
            [(filter)]="filter"
          ></vadar-grf-security-table3>
        </div>
        <div class="col-md-3 pl-md-2">
          <vadar-grf-security-table4
            [(filter)]="filter"
          ></vadar-grf-security-table4>
        </div>
      </div>
      <vadar-grf-security-table5
        [(filter)]="filter"
      ></vadar-grf-security-table5>
    </div>
  </div>
</section>
