<div class="table-scaned mb-5">
  <div class="card p-4 position-relative">
    <div class="mdc-content position-relative ">
      <div class="title font-18 font-weight-500 mb-3">
        {{ "LOGS.ADVANCE_SEARCH" | translate }}
      </div>
      <!-- title -->

      <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div class="row">
          <div class="col-md-10">
            <div class="row">
              <div class="col-md-4 mb-3 px-2">
                <nz-form-control>
                  <nz-date-picker
                    class="w-100"
                    nzShowTime
                    formControlName="gte"
                    [(ngModel)]="startValue"
                    [nzDisabledDate]="disabledStartDate"
                    nzSize="large"
                    nzPlaceHolder="{{ 'GLOBAL.FROM' | translate }}"
                  >
                  </nz-date-picker>
                </nz-form-control>
              </div>
              <!-- form -->

              <div class="col-md-4 mb-3 px-2">
                <nz-form-control>
                  <nz-date-picker
                    class="w-100"
                    nzShowTime
                    [(ngModel)]="endValue"
                    formControlName="lte"
                    [nzDisabledDate]="disabledEndDate"
                    nzSize="large"
                    nzPlaceHolder="{{ 'GLOBAL.TO' | translate }}"
                  >
                  </nz-date-picker>
                </nz-form-control>
              </div>
              <!-- to -->

              <div class="col-md-4 mb-3 px-2">
                <nz-form-control>
                  <nz-select formControlName="status" nzSize="large">
                    <nz-option
                      nzLabel="-- {{ 'TICKET.SELECT_STATUS' | translate }} --"
                      nzValue=""
                    ></nz-option>
                    <nz-option
                      *ngFor="let item of enTicketStatus"
                      [nzValue]="item"
                      nzLabel="{{ 'TICKET.' + item | translate }}"
                    ></nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
              <!-- status -->

              <div class="col-md-6 mb-3 px-2">
                <nz-form-control>
                  <input
                    formControlName="title"
                    nzSize="large"
                    nz-input
                    placeholder="{{ 'TICKET.TITLE' | translate }}"
                  />
                </nz-form-control>
              </div>
              <!-- title -->

              <div class="col-md-6 mb-3 px-2">
                <nz-form-control>
                  <input
                    formControlName="owner"
                    nzSize="large"
                    nz-input
                    placeholder="{{ 'TICKET.CREATE_BY' | translate }}"
                  />
                </nz-form-control>
              </div>
              <!-- create by -->
            </div>
          </div>
          <div class="col-md-2 px-2">
            <button
              type="submit"
              class="w-100 mdc-button mdc-btn-lg mdc-button--unelevated"
            >
              {{ "GLOBAL.SEARCH" | translate }}
            </button>
          </div>
        </div>
      </form>
      <!-- form -->
    </div>
  </div>
</div>
