<section class="page-log page-padding pl-3">
  <div class="container-fluid">
    <vadar-top-performance></vadar-top-performance>

    <div class="mx-n3 pt-4" *ngIf="workspaceId != null && workspaceId >= 0">
      <vadar-filter-logs-performance
        [(filter)]="filterPer"
      ></vadar-filter-logs-performance>
      <vadar-table-logs-performance
        [(filter)]="filterPer"
      ></vadar-table-logs-performance>
    </div>
    <!-- table -->
    <div *ngIf="workspaceId === null || workspaceId < 0">
      <p class="font-25 text-center text-danger" style="margin-top: 25vh;">
        {{ "ROLES.NO_WORKSPACE_SELECTED_YET" | translate }}
      </p>
    </div>
  </div>
</section>
