<div class="table-scaned my-3">
  <div class="card h-100 px-0 position-relative">
    <div class="d-flex justify-content-center align-items-center py-2">
      <span class="font-32 text-success mr-2">{{
        (model$ | async).count
      }}</span>
      <span class="font-18">{{ "GLOBAL.HITS_GROUP" | translate }}</span>
    </div>
    <div class="mdc-content position-relative ">
      <nz-table
        #rowSelectionTable
        [nzShowPagination]="false"
        [nzData]="(model$ | async).items"
        [nzNoResult]="noResultTpl"
        [nzPageSize]="pageSize"
      >
        <ng-template #noResultTpl>
          <img src="assets/images/noresult.svg" alt="no-result" />
          <div>{{ "LOGS.NO_DATA_IN_THE_TIME_PERIOD" | translate }}</div>
        </ng-template>
        <thead>
          <tr>
            <th class="col-status">{{ "LOGS.EVENT_NAME" | translate }}</th>
            <th class="col-status">{{ "LOGS.HOSTS" | translate }}</th>
            <th class="col-time text-center">{{ "LOGS.LEVEL" | translate }}</th>
            <th class="col-time">{{ "LOGS.QUANTITY" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let data of rowSelectionTable.data"
            class="position-relative"
          >
            <td
              class="col-status justify-content-between"
              (click)="rederectEvents($event, '', data.eventName)"
            >
              <div class="d-block d-lg-none">
                {{ "LOGS.EVENT_NAME" | translate }}
              </div>
              <span
                class="line-clamp cursor-pointer"
                nzTooltipTitle="{{ data.description }}"
                nzTooltipPlacement="topLeft"
                nz-tooltip
              >
                {{ data.eventName }}
              </span>
              <!-- name -->
            </td>
            <td class="col-status justify-content-between cursor-pointer">
              <div class="d-block d-lg-none">
                {{ "LOGS.HOSTS" | translate }}
              </div>
              <span class="line-clamp">
                {{ data.hosts }}
              </span>
              <!-- hosts -->
            </td>
            <td
              class="col-time text-center justify-content-between"
              (click)="rederectEvents($event, data.level, '')"
            >
              <div class="d-block d-lg-none">
                {{ "LOGS.LEVEL" | translate }}
              </div>
              <span class="line-clamp cursor-pointer">
                {{ data.level }}/15</span
              >
              <!-- level -->
            </td>
            <td class="col-time justify-content-between">
              <div class="d-block d-lg-none">
                {{ "LOGS.QUANTITY" | translate }}
              </div>
              <span>{{ data.count }}</span>
              <!-- time -->
            </td>
          </tr>
        </tbody>
      </nz-table>
      <!-- table -->
      <div class="text-center py-3" *ngIf="pageSize >= totalHits.value">
        {{ "SECURITY.FIRST_500" | translate: totalHits }}
        <a
          href="#"
          clickPreventDefault
          (click)="toTop()"
          class="text-primary"
          >{{ "SECURITY.BACK_TO_TOP" | translate }}</a
        >
      </div>
    </div>
    <!-- content -->
  </div>
  <!-- card -->
</div>
