<div class="row align-items-center justify-content-between">
  <div class="col-md-4 mb-3 mb-md-0 pl-0">
    <div class="d-flex align-items-center">
      <a
        href="#"
        clickPreventDefault
        [routerLink]="redirect"
        class="more mr-2 d-flex align-items-center justify-content-center"
      >
        <span class="material-icons-outlined font-25">
          keyboard_backspace
        </span>
      </a>
      <b class="font-20">{{
        "NOTIFICATIONS.SETTING_NOTIFICATIONS" | translate
      }}</b>
    </div>
  </div>
  <!-- button -->
</div>
<!-- top -->
