<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  nzWrapClassName="vertical-center-modal"
>
  <ng-template #modalTitle>
    <div class="d-flex align-items-center justify-content-center mt-3">
      <i
        class="mr-2 text-warning"
        style="font-size: 70px;"
        nz-icon
        nzType="exclamation-circle"
        nzTheme="outline"
      ></i>
      <br />
    </div>
  </ng-template>

  <ng-template #modalContent>
    <div class="text-center">
      {{ "WORKSPACES.DO_YOU_WANT_TO_DELETE_THESE_ITEMS" | translate }}
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <div class="d-flex border-top">
      <button
        class="text-secondary m-0 h-auto border-right rounded-0 mdc-button py-3 mdc-button-lg mdc-button mdc-dialog__button"
        type="button"
        (click)="handleCancel()"
      >
        {{ "WORKSPACES.CANCEL" | translate }}
      </button>
      <button
        class="m-0 h-auto mdc-button py-3 mdc-button-lg mdc-dialog__button text-danger"
        type="button"
        (click)="handleOk()"
      >
        {{ "WORKSPACES.OK" | translate }}
      </button>
    </div>
  </ng-template>
</nz-modal>
