<div class="table-scaned mb-3">
  <div class="card h-100 px-0 position-relative">
    <div class="d-flex justify-content-center align-items-center py-2">
      <span class="font-18">{{ "HOST.EVENT_GROUP" | translate }}</span>
    </div>
    <div class="mdc-content position-relative ">
      <nz-table
        #rowSelectionTable
        nzVirtualScroll
        [nzShowPagination]="false"
        [nzData]="model$ | async"
        [nzNoResult]="noResultTpl"
        [nzPageSize]="pageSize"
        [nzScroll]="{ y: '378px' }"
      >
        <ng-template #noResultTpl>
          <img src="assets/images/noresult.svg" alt="no-result" />
          <div>{{ "LOGS.NO_DATA_IN_THE_TIME_PERIOD" | translate }}</div>
        </ng-template>
        <thead>
          <tr>
            <th nzLeft>
              {{ "GROUP.GROUP_NAME" | translate }}
            </th>
            <th nzRight nzWidth="100px">{{ "LOGS.QUANTITY" | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <ng-template nz-virtual-scroll let-data>
            <tr>
              <td nzLeft>
                <span
                  nzTooltipTitle="{{ data.ruleGroup }}"
                  nzTooltipPlacement="topLeft"
                  nz-tooltip
                  class="line-clamp cursor-pointer"
                  >{{ data.ruleGroup }}</span
                >
                <!-- level -->
              </td>
              <td nzRight>
                <span>
                  {{ data.count }}
                </span>
                <!-- name -->
              </td>
            </tr>
          </ng-template>
        </tbody>
      </nz-table>
      <!-- table -->
    </div>
    <!-- content -->
  </div>
  <!-- card -->
</div>
<!-- item -->
