<div class="card p-3 position-relative">
  <div class="row">
    <div class="col-md-3 col-6">
      <div
        class="d-flex flex-column justify-content-between font-18 font-weight-500 text-center my-2"
      >
        {{ "SECURITY.CRITICAL" | translate }}
        <span class="font-25 text-danger">{{
          (securityVulSummary$ | async).Critical
        }}</span>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div
        class="d-flex flex-column justify-content-between font-18 font-weight-500 text-center my-2"
      >
        {{ "GLOBAL.HIGH" | translate }}
        <br />
        <span class="font-25 text-warning">{{
          (securityVulSummary$ | async).High
        }}</span>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div
        class="d-flex flex-column justify-content-between font-18 font-weight-500 text-center my-2"
      >
        {{ "GLOBAL.MEDIUM" | translate }}
        <br />
        <span class="font-25 text-info">{{
          (securityVulSummary$ | async).Medium
        }}</span>
      </div>
    </div>
    <div class="col-md-3 col-6">
      <div
        class="d-flex flex-column justify-content-between font-18 font-weight-500 text-center my-2"
      >
        {{ "GLOBAL.LOW" | translate }}
        <br />
        <span class="font-25 text-success">{{
          (securityVulSummary$ | async).Low
        }}</span>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4 pb-1">
    <div class="card mt-4">
      <div class="mx-3 mt-3 d-flex justify-content-between">
        <p
          class="font-18 font-weight-500 mb-2 line-clamp"
          nzTooltipTitle="{{ 'SECURITY.MOST_AFFECTED' | translate }}"
          nzTooltipPlacement="topLeft"
          nz-tooltip
        >
          {{ "SECURITY.MOST_AFFECTED" | translate }}
        </p>
      </div>
      <div class="border-bottom"></div>
      <vadar-donut-chart
        [type]="'chartDonutMostAffected'"
        [data]="securityMostAffectedAgents$ | async"
        [className]="'custom'"
      ></vadar-donut-chart>
    </div>
  </div>
  <div class="col-md-8 pb-1">
    <div class="card mt-4">
      <div class="mx-3 mt-3 d-flex justify-content-between">
        <p
          class="font-18 font-weight-500 mb-2 line-clamp"
          nzTooltipTitle="{{ 'SECURITY.ALERTS_SEVERITY' | translate }}"
          nzTooltipPlacement="topLeft"
          nz-tooltip
        >
          {{ "SECURITY.ALERTS_SEVERITY" | translate }}
        </p>
      </div>
      <div class="border-bottom"></div>
      <saf-line-chart
        [type]="'chartdivSeverity'"
        [data]="securityAlertsSeverity$ | async"
        [label]="'levelName'"
        [className]="'custom'"
        [dateFormat]="_commonService.isDayDateFormat(time)"
        [translate]="true"
      >
      </saf-line-chart>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 pb-1">
    <div class="card mt-4">
      <div class="mx-3 mt-3 d-flex justify-content-between">
        <p
          class="font-18 font-weight-500 mb-2 line-clamp"
          nzTooltipTitle="{{ 'SECURITY.MOST_COMMON_CVES' | translate }}"
          nzTooltipPlacement="topLeft"
          nz-tooltip
        >
          {{ "SECURITY.MOST_COMMON_CVES" | translate }}
        </p>
      </div>
      <div class="border-bottom"></div>
      <vadar-donut-chart
        [type]="'chartDonutCVEs'"
        [data]="securityMostCommonCVEs$ | async"
        [className]="'custom'"
      ></vadar-donut-chart>
    </div>
  </div>
  <div class="col-md-6 pb-1">
    <div class="card mt-4">
      <div class="mx-3 mt-3 d-flex justify-content-between">
        <p
          class="font-18 font-weight-500 mb-2 line-clamp"
          nzTooltipTitle="{{ 'SECURITY.MOST_COMMON_CWES' | translate }}"
          nzTooltipPlacement="topLeft"
          nz-tooltip
        >
          {{ "SECURITY.MOST_COMMON_CWES" | translate }}
        </p>
      </div>
      <div class="border-bottom"></div>
      <vadar-donut-chart
        [type]="'chartDonutCWEs'"
        [data]="securityMostCommonCWEs$ | async"
        [className]="'custom'"
      ></vadar-donut-chart>
    </div>
  </div>
</div>

<vadar-top-events-by-level
  [time]="time"
  [type]="'sv'"
></vadar-top-events-by-level>
